<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 3</title>
    <link rel="stylesheet" href="foundation.min.css"  />
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="app">
        <h1>{{message}}</h1>

        <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="medium-6 cell">
                  <input type="text" name="title" id="title" placeholder="pls type" v-model="taskTitle">
                  <textarea name="desc" id="desc" cols="30" rows="3" placeholder="task info" v-model="taskDesc"></textarea>
              </div>
              <div class="medium-6 cell">
                  <button class="submit success button" @click="addTask()" v-if="taskTitle.length > 0">add</button>
                  <button :class="['submit button toggleInfo',{primary:showDesc},{success:!showDesc}]" @click="showDesc = !showDesc">toggle info</button>
              </div>
            </div>
            <div class="grid-x grid-padding-x">
                <ul class="list-group ">
                    <li :class="['list-group-item',{done:job.completed}]" v-for="(job,i) in doList" :key="i" @click="job.completed = !job.completed">
                        {{job.title}}
                        
                        <br>
                        <small v-if="showDesc">
                            {{job.desc}}
                        </small>

                        <img src="icons/trash.svg" alt="trash" @click="removeItem()">
                    </li>
                    
                  </ul>
            </div>
          </div>
          
        
    </div>

    
    <script src="vue.global.js"></script>
    <script src="main.js"></script>
</body>
</html>